---
title: About
layout: base.njk
---

<div class="container">
    <h1>About</h1>
     <hr>
    <div class="section">
        <p>I am a website and game developer. I've been coding since 2015. web3.0 and cryptocurrencies are cool. Feel free to get in contact with me.</p>
        <p></p>
        <p>website made with jamstack. statically generated webpages.</p>

    </div>
    <a href="../"><- Back</a>
    <script src="js/index.js"></script>
</div>