---
title: Home
layout: base.njk
---

<div class="container">
    <h1>welcome to my website 👋</h1>
 <hr>
    <a href="/">Home</a>
    <a href="../about">About</a>
    <a href="https://jcook0.github.io">Blog</a>
    <a href="../login">Login</a>

    
    <br>
    <p id="quotes"></p>
    <p id="author"></p>
    <p>
        Welcome to my newest website. Still under construction.
        
    </p><a target="_blank" href="https://github.com/jcook0">Check out my Github</a>

    <p></p>
    <script>
    const quotes = [
    {
        quote: "Do not pity the dead, Harry. Pity the living, and, above all those who live without love.",
        author: "Albus Dumbledore"
    },
    {
        quote: "It is impossible to manufacture or imitate love",
        author: "Horace Slughorn"
    },
    {
        quote: "Being different isn't a bad thing. It means that you are brave enough to be yourself.",
        author: "Luna Lovegood"
    },
    {
        quote: "If you want to know what a man’s like, take a good look at how he treats his inferiors, not his equals.",
        author: "Sirius Black"
    },
    {
        quote: "Never trust anything that can think for itself if you can’t see where it keeps its brain.",
        author: "Arthur Weasley"
    },
    {
        quote: "Every human life is worth the same, and worth saving.",
        author: "Kingsley Shacklebolt"
    },
    {
        quote: "Have a biscuit, Potter.",
        author: "Minerva McGonagall"
    },
    {
        quote: "Happiness can be found even in the darkest of times if one only remembers to turn on the light.",
        author: "Albus Dumbledore"
    },
    {
        quote: "Socks are Dobby’s favorite, favorite clothes, sir!",
        author: "Dobby"
    }
    ];

    const arrayIndex = Math.floor(Math.random() * quotes.length);
    document.getElementById("quotes").innerHTML = "\"" + quotes[arrayIndex].quote + "\"";
    document.getElementById("author").innerHTML = quotes[arrayIndex].author;
        
    </script>
    <script src="js/index.js"></script>
</div>