---
title: Login 
layout: base.njk
---

<div class="container">
    <h1>Login Page</h1>
     <hr>
    <div style="background-color: gray; span: 60px; margin: 20px; text-align: center">
        <form>
            <input type="text" placeholder="Username"><br>
            <input type="password" placeholder="Password"><br>
            <button>Login</button>
            
        </form>
    </div>
    <a href="/"><- Back</a>
    <script src="js/index.js"></script>
    <script src="js/login.js"></script>
</div>